<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" allowCookies="true"
            maxReceivedMessageSize="2147483647" messageEncoding="Text" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WCFServiceDemo.Service">
        <endpoint address="" binding="basicHttpBinding"
          contract="WCFServiceDemo.IService" />
        <!--<endpoint address="web" binding="webHttpBinding" behaviorConfiguration="web" bindingConfiguration="defaultRestJsonp" contract="Common.IService2">-->
        <!--</endpoint>-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8101/WCFServiceDemo/IService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>