<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- 连接mysql数据库的链接，字符串前面需要加上provider用来识别数据库类型。 -->
    <add name="MSSQL" connectionString="Data Source=192.168.2.230;Database=HT_INTL_TEST;UID=sa;PWD=Pp123456;" providerName="System.Data.SqlClient"/>
    <!-- sql server 知识库的加密地址 -->
    <add name="HISDB" connectionString="provider=MSDAORA.1;DATA SOURCE=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.225.67.122)(PORT=21521)))(CONNECT_DATA=(SERVICE_NAME = mkdb)));PASSWORD=KnRT20191109;PERSIST SECURITY INFO=True;USER ID=knrt" providerName="System.Data.OracleClient" />
    <add name="MySql" connectionString="server=101.201.142.93;Database=HT_INTL;UID=knrt;PWD=knrt;Persist Security Info=True;charset=utf8;allow user variables=true;max pool size=100;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>