<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MSSQL" connectionString="Data Source=192.168.2.230;Database=HT_INTL_TEST;UID=sa;PWD=Pp123456;" providerName="System.Data.SqlClient" />


        <add name="HISDB" connectionString="provider=MSDAORA.1;DATA SOURCE=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=122.225.67.122)(PORT=21521)))(CONNECT_DATA=(SERVICE_NAME = mkdb)));PASSWORD=KnRT20191109;PERSIST SECURITY INFO=True;USER ID=knrt" providerName="System.Data.OracleClient" />


        <add name="MySql" connectionString="server=101.201.142.93;Database=TEST;UID=knrt;PWD=knrt;Persist Security Info=True;charset=utf8;allow user variables=true;max pool size=100;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
           
            <probing privatePath="lib/DapperEx" />
        </assemblyBinding>
    </runtime>
</configuration>
